.themeToggleButton {
    padding: 1em;
    border: none;
    background-color: transparent;
    color: var(--color-text);
    cursor: pointer;
    height: 4em;
    width: 4em;
    text-align: center;
    border-radius: 100%;
    will-change: background-color;
    transition-duration: .1s;
}

.themeToggleButton:hover {
    background-color: var(--color-primary);
}
