.themeToggleButton {
    padding: 1em;
    border: none;
    background-color: transparent;
    color: var(--color-text);
    cursor: pointer;
    height: 4em;
    width: 4em;
    text-align: center;
}
