.loginText {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 3em;
    color: var(--color-dim);
}

.loginText span {
    font-weight: bolder;
    color: var(--color-primary);
}

.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.forgotPassword {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-weight: bold;
    margin: 1em 0 .5em 0;
    text-decoration: none;
}

.signUpMsg {
    color: var(--color-dim);
}

.signUpMsg .link {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}

@media (max-width: 800px) {
    .loginContainer {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
    }

    .loginContainerRight {
        display: none;
    }
}