.navigationBar {
    position: fixed;
    top: 0;
    padding-right: .5em;
    left: 80px;
    width: calc(100% - 80px);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: .5em;
    border-bottom: 1px solid var(--color-dim);
}